@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50;
  }
}

@utility glass {
  @apply bg-white/80 backdrop-blur-md border border-white/20;
}